{% extends "base.html" %}
{% block title %}
  Избранные записи автора
{% endblock title %}
{% block content %}

  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    {% include 'posts/includes/switcher.html' %}
    <h1>Избранные записи автора</h1>
    {% for post in page_obj %}
      {% include "includes/post_flow.html" %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include "posts/includes/paginator.html" %}
  </div>
  
{% endblock content %}