{% load thumbnail %}
<article>
  <ul>
    {% if not author %}
    <li>
      Автор: {{ post.author.get_full_name }}
      <a href="{% url 'posts:profile' post.author.username %}">Все посты пользователя</a>
    </li>
    {% endif %}
    <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
  </ul>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
  <img class="card-img my-2" src="{{ im.url }}">
{% endthumbnail %}
<p>{{ post.text }}</p>
<a href="{% url 'posts:post_detail' post.id %}">Открыть запись</a>
</article>
----------------
{% if post.group %}
  <h4>Группа: {{ post.group }}</h4>
  <a href="{% url 'posts:group_list' post.group.slug %}">Посмотреть все публикации группы</a>
{% endif %}
<!-- под последним постом нет линии -->
