<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="refs,trifonov"/>
        <meta name="description" content="referral service"/>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <title>FFF Refs
            {% block title %}
                base_title
            {% endblock title %}
        </title>
    </head>
    <body>
        <div class="container mt-3">
            <div class="bootstrap">
                <div class="container py-5">
                    <div class="row justify-content-center">
                        <div class="col-md-8 p-5">
                            <div class="card">
                                <div class="card-header">{{ card_title }}</div>
                                <div class="card-body">
                                    {% block content %}
                                        No content
                                    {% endblock content %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
