{% extends "base.html" %}
{% block title %}You were Logged out{% endblock title %}
{% block content %}
    <div class="bootstrap">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-8 p-5">
                    <div class="card">
                        <div class="card-header">Logout</div>
                        <div class="card-body">
                            <p>You were logged out. See you soon!</p>
                            <a href="{% url 'refs:main-view' %}">
                                <button class="btn btn-primary">SignUp</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
